.vscode

__pycache__

lightning_logs

data
plots
csv
params
res
logs
pred

*.egg*

*.pt
*.ckpt



# LaTeX intermediate files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*-SAVE-ERROR
*.gz
*.toc
*.nav
*.snm

.vscode/
tmp.txt